doctype html
html
    head
    body
        h1 login
        form(action='/login', method='POST')
            | Number :
            input(type='text', name='number')
            br
            |     Password :
            input(type='password', name='password')
            br
            br
            input(type='submit', name='submit')
