doctype html
html
    head
        title Registration
    body
        h1 Register
        form(action='/login', method='POST')
            | Name :
            input(type='text', name='name')
            br
            | Number :
            input(type='text', name='number')
            br
            |     Password :
            input(type='password', name='password')
            br
            br
            input(type='submit', name='submit')